<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="script.js"></script>
    <title>Строящиеся АЭС</title>
</head>

<body>
    
    <footer>
        <div class="soc_array">
            <h1>Наши партнёры</h1>
            <div>
                <a href="https://atomdoc.ru/">
                    <img src="assets/Партнеры/АТОМДОК.png" alt="АТОМДОК" width="75px" height="75px">
                </a>

                <a href="https://ioes.ru/ru/">
                    <img src="assets/Партнеры/ОЭСТРОЙ.png" alt="ОЭСТРОЙ" width="125px" height="75px">
                </a>

                <a href="https://www.res-e.ru/">
                    <img src="assets/Партнеры/РЭС.png" alt="РЭС" width="125px" height="75px">
                </a>

                <a href="https://www.radcontrol.pro/">
                    <img src="assets/Партнеры/Ч-М центр.png" alt="Ч-М" width="75px" height="75px">
                </a>
            </div>
        </div>

        <div class="soc_array">
            <h1>Следите за нами </h1>
            <div>

                <a href="https://vk.com/">
                    <img src="assets/Соцсети/vk.png" alt="vk" width="35px" height="35px">
                </a>

                <a href="https://ok.ru/">
                    <img src="assets/Соцсети/одноклассники.png" alt="одноклассники" width="35px" height="35px">
                </a>

                <a href="https://www.youtube.com/">
                    <img src="assets/Соцсети/youtube.png" alt="youtube" width="35px" height="35px">
                </a>

                <a href="https://rutube.ru/">
                    <img src="assets/Соцсети/rt.png" alt="rt" width="35px" height="35px">
                </a>

                <a href="https://web.telegram.org/">
                    <img src="assets/Соцсети/telegram.png" alt="telegram" width="35px" height="35px">
                </a>

                <a href="https://dzen.ru/">
                    <img src="assets/Соцсети/yd.png" alt="yd" width="35px" height="35px">
                </a>
            </div>
        </div>
        <div class="soc_array">
            © 2008–2024. Все права защищены. Государственная корпорация по атомной энергии «Росатом»
            При использовании материалов ссылка на сайт www.rosatom.ru обязательна
        </div>
    </footer>
</body>

</html>