* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}

body {
    max-width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.main {
    height: calc(100vh / 2);
    width: 100%;
    background-image: url(head.png);
    background-repeat: round;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 25px 25px;
    color: rgb(0, 100, 100);
    text-shadow: 2px 2px 4px #18add3;
}

.main>div {
    background-color: rgba(50, 50, 50, 0.7);

    padding: 15px 15px;
    text-align: center;
}

header {
    width: 100%;
    height: 120px;
    z-index: 2;
    font-weight: bolder;
    background-color: rgb(191, 191, 191);
}

.list,
.search,
.search_list {
    border: none;
    background: none;
}

.search_list {
    display: none;
    border-radius: 0px 0px 15px 15px;
    flex-direction: column;
    padding: 10px;

    line-height: 30px;
}

.search_list>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


header>div {
    padding: 10px;
}

header>div>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#fadeshow {
    display: flex;
    flex-shrink: 5;
    flex-basis: 5;
}

.logo,
.list,
.search {
    display: flex;
    flex-shrink: 1;
    flex-basis: 20;
}

.search_list,
.search_button {
    display: none;
    background-color: rgb(240, 240, 240);
    animation: list_appereance 0.2s ease-in-out;
    width: 100%;
    transform-origin: top center;
}

#search_list {
    position: sticky;
    top: 20px;
}


.search_button,
#menu {
    position: absolute;
    top: 120px;
}

.search_button>div {
    display: flex;
    align-content: center;
}


.search_button button {
    border: none;
}



.list_button {
    position: absolute;
    top: 120px;
    height: 160px;

    border-radius: 0px 0px 25px 25px;
}


.list_button>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
}



#search {
    border: none;
    border-radius: 5px;
    min-width: 200px;
    width: 100%;
}

@keyframes list_appereance {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(100%);
    }
}


ul {
    list-style: none;
}

@media only screen and (max-width: 900px) {
    #fadeshow {
        display: none;
    }
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    width: 100%;
    padding: 60px 9px;
    min-width: 200px;

}

.article_text {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

    max-width: 800px;
    min-width: 0px;
    margin-top: 20px;
    height: 200px;
    color: #171581

}

@media only screen and (max-width: 950px) {
    .article_text {
        display: none;

    }
}

@media only screen and (max-width: 750px) {
    .article_text {
        display: block;

    }
}

@media only screen and (max-width: 560px) {
    .article_text {
        display: none;

    }
}

main>ul>li {
    display: flex;

    flex-direction: row;
}

main>ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main>ul>li {
    animation: blink-caret_aricle 0.5s ease-in-out;
    box-shadow: #c7c7c7 4px 4px;
    background-color: rgba(105, 105, 105, 0.281);
}

@keyframes article_is_hover {
    from {
        transform: scale(100%);
    }

    to {
        transform: scale(105%);
    }
}

main>ul>li,
aside,
.main>div,
.article img {
    border-radius: 15px;
}

.article img {
    border-color: #5c5c5c2c;
    border-style: groove;
    max-width: 600px;
    min-width: 200px;
}

@keyframes blink-caret_aricle {
    from {
        transform: translateX(-800px);
    }

    to {
        transform: translateX(0px);
    }
}

.article {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    animation-fill-mode: forwards;
    
}

.article_AES img {
    border-color: #5c5c5c2c;
    box-shadow: #b4b4b4 3px 3px;
    border-style: groove;
    border-radius: 15px;
    max-width: 600px;
    min-width: 200px;
    width: 400px
}

.article_AES {
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    animation-fill-mode: forwards;
    gap: 20px;

    justify-content: center;



}

.article_AES div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-indent: 40px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: #a3a3a3 5px 5px;
    font-size: 20px;

    background-color: #bbbbbb;

    color: #171581
}


.article_prod {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    padding: 10px;

    justify-content: start;

}

.article_prod>a {
    border-radius: 15px;
    max-width: 200px;
    max-height: 200px;
    min-width: 50px;
    min-height: 50px;

    width: 200px;
    height: 200px;


}

.article_prod>a>h1,
.article_prod>a>p {
    margin-left: 35px;
}

.article_prod>a>p {

    margin-top: 140px;
}

.article_prod .navpar01 {
    background-color: rgb(94, 34, 190);
}

.article_prod .navpar02 {
    background-color: rgb(14, 35, 155);
}

.article_prod .navpar03 {
    background-color: rgb(7, 216, 111);
}

.article_prod .navpar04 {
    background-color: rgb(198, 2, 247);
}

.article_carier {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2b6981;
    gap: 30px;
}

.article_carier>p {
    text-indent: 15px;
    background-color: rgb(141, 141, 141);

    box-shadow: #808080 4px 4px;

    border-radius: 15px;
    padding: 20px;
    font-size: 20px;

}

.article_carier>h2 {
    background-color: rgb(175, 175, 175);
    border-radius: 15px;
    padding: 5px;
    box-shadow: #777b7c 2px 2px;
}

aside {
    margin: 60px 9px 60px 0px;
    padding: 25px;

    width: 50%;
    max-width: 300px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    transform-origin: right center;

    animation: blink-caret 1.0s ease-in-out;
    animation-fill-mode: forwards;
    

    text-align: center;
    position: relative;
}

@media only screen and (max-width: 750px) {
    #fadeshow2 {
        display: none;
    }
}

@keyframes blink-caret {
    from {
        background-color: transparent;
        border-color: transparent;
        box-shadow: transparent 5px 5px;
        
    }

    to {
        background-color: rgba(150, 150, 150, 0.5);
        box-shadow: #b5b5b6 5px 5px;
        
        color: black;
    }
}

.border {
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-top: 10px;
    border-style: ridge;
    border-color: rgba(128, 128, 128, 0.329);
}

aside>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;

}

aside>h3 {
    line-height: 3;
}

footer {
    max-width: 100%;
    background-color: rgba(122, 122, 122, 0.8);
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px auto;
}

footer>div {
    padding: 20px;
}

footer>div>div {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

footer>div>p {
    text-align: center;
}

@keyframes blink-caret_A {

    from {
        color: rgba(3, 154, 255, 0.877);
    }

    to {
        color: rgb(100, 4, 4);
    }
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

a:link {
    color: rgb(3, 154, 255);
}

a:hover {
    animation: blink-caret_A 0.8s ease-in-out;
    animation-fill-mode: forwards;
}